* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0deg, rgba(1,121,111,1) 0%, rgba(141,182,0,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 0;
}

.title-bar {
    background-color: #057303;
    position: fixed;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 50px;
    border-bottom: 2px solid black;
    z-index: 1;
    }
    .title-bar h1 {
    margin: 0;
    font-size: 20px;
    }

.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #879f84;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    top: 50px;
    border: 2px solid black;
    border-top: 0;
    }
    .sidebar li {
        margin-bottom: 10px;
    }
    .sidebar a {
        color: #000000;
        text-decoration: none;
        font-size: 18px;
        display: block;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.2s ease-in-out;
    }

.circle-img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    }
    .circle-img img {
        max-width: 100%;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 2px solid black;
        margin: 50px 0 50px 0;
    }

.navbar {
    background-color: #057303;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    border-radius: 0;
    margin-bottom: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    }
    .navbar h1 {
        font-size: 20px;
        margin-bottom: 0;
    }

.profile-details {
    padding: 0 0 20px 0;
    }
    .profile-details h1,
    .profile-details h2{
        display: flex;
        font-size: 15px;
        justify-content: center;
        margin: 5px;
    }
    .profile-details h1 {
        font-size: 20px;
    }
    .profile-details h1:nth-child(3) {
        font-size: 12px;
    }

nav {
    margin-top: 5px;
    text-align: left;
    color: #fff;
    display: block;
    }
    nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    }
    nav li {
    display: block;
    }
    nav a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    }
    nav a:hover {
        background-color: black;
        color: white;
    }
    nav ul li a.active {
        color: #057303;
        font-weight: bold;
        text-decoration: underline;
      }

.container {
    max-width: 50%;
    width: 100%;
    margin: 50px auto 0;
    padding: 20px 20px 0;
    background-color: #b5bbb5;
    color: black;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    margin-right: auto;
    margin-left: auto;
    transform: translateX(-35%);
    top: 10%;
    }
    .container h1 {
        font-size: 30px;
    }
    .container-title h1 {
        font-size: 25px;
        text-align: center;
    }

form {
    width: 100%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
}

hr {
    border: 1.5px solid black
}

.name {
    width: 100%;
    display: flex;
    gap: 20px;
}

.upload-image {
    display: flex;
    }
    .upload-image input {
        margin-left: 10px;
    }

.wrapper {
    width: 400px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 10px 40px 0px rgba(47,47,47,.1);
    }
    .wrapper input[type="text"]{
        padding: 10px;
        margin: 10px auto;
        display: block;
        border-radius: 5px;
        border: 1px solid lightgrey;
        background: none;
        width: 274px;
        color: black;
    }

/* input[type="text"]:focus {
    outline: none;
} */

.controls {
    width: 294px;
    margin: 15px auto;
}

#remove_fields {
    float: right;
}
.controls a i.fa-minus {
    margin-right: 5px;
}

.address {
    display: flex;
    align-items: center;
    width: 100%;
    }
    .address select {
        width: 100%;
        margin-right: 10px;
    }

.registration input {
    width: 150px;
    }
    .registration div {
        margin-bottom: 10px;
    }

input#image {
    width: 50%;
}

.sex input {
    width: auto;
    }
    .sex label {
        margin-right: 10px;
    }

.submit {
    width: 111%;
    text-align: right;
}