@font-face {
    font-family: 'TrajanProBold';
    src: url('font/TrajanPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'TrajanProRegular';
    src: url('font/TrajanPro-Regular.ttf') format('truetype');
}

* {
    font-family: 'TrajanProRegular', sans-serif;
}

body {
    background-color: white;
    color: black;
    margin: 0;
}

.title {
    font-family: 'TrajanProBold', sans-serif;
    font-size: 2rem;
}

.row {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0rem;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-space-between>* {
    margin-top: 0;
    margin-bottom: 0;
    /* Removes vertical margin from children */
}

.dropdown {
    margin-bottom: 1rem;
}

.dropdown select {
    text-align: center;
    font-size: 1.3rem;
    width: fit-content;
    /* Match the width of your textarea for consistency */
    height: 3rem;
    /* Adjust height for better usability */
    background-color: #000000;
    /* Theme background color */
    color: white;
    /* Text color to match the theme */
    border: 1px solid #000;
    /* Border to match textarea */
    border-radius: 8px;
    /* Rounded corners to match buttons and textarea */
    padding: 0 8px;
    /* Padding for text inside the dropdown */
    -webkit-appearance: none;
    /* Removes default styling on iOS */
    -moz-appearance: none;
    /* Removes default styling on Firefox */
    appearance: none;
    /* Removes default styling */
    cursor: pointer;
    /* Changes cursor to pointer to indicate it's clickable */
}

.dropdown select:focus {
    border: 2px solid #fff;
    /* Make border thicker and more noticeable */
}

.logo img {
    height: 65px;
    width: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-output {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.input-output label {
    font-size: 1.5rem;
}

.input,
.output {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button {
    margin-top: 1rem;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
}

textarea {
    width: 35rem;
    height: 30rem;
    background-color: #9F9F9F;
    border: 1px solid #989898;
    border-radius: 8px;
    color: black;
    padding: 10px;
    resize: none;
    font-size: 1rem;
}


.output-box, .input-box {
    border: 1px solid #989898;
    border-radius: 8px;
    padding: 10px;
    height: 30rem;
    width: 35rem;
    overflow-y: auto;
    background-color: #9F9F9F;
    color: black;
}

.input-box.placeholder {
    color: #676767;
    /* Placeholder text color */
}

.output-box img {
    height: 40px;
    margin: 5px;
}

.arrow {
    color: black;
}

.output-box .placeholder {
    color: graytext;
    /* Light grey color */
}

#image-container {
    width: 40%;
    height: auto;
    max-height: 30rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #9F9F9F;
}

#image-container img {
    max-width: 100%;
    /* Ensure images do not overflow the container's width */
    max-height: 40px;
    /* Limit image height to keep the container tidy */
    margin: 2px;
    /* Space between images */
    object-fit: contain;
    /* Ensure aspect ratio is maintained without cropping */
}

#dark-mode-toggle {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#dark-mode-toggle:hover {
    background-color: black;
    color: white;
}

body.dark-mode #dark-mode-toggle {
    color: white;
    }
    body.dark-mode #dark-mode-toggle:hover {
        color: black;
        background-color: white;
    }


/* Add this to your CSS file, e.g., synthwave84.css or create a new CSS file for dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    }
    body.dark-mode .dropdown select, body.dark-mode .submit-button, body.dark-mode #image-container, body.dark-mode #voiceSelection {
        background-color: #444;
        /* Adjust the color as needed */
        color: white;
        /* Adjust text color as needed */
    }
    body.dark-mode .arrow {
        color: white;
        /* Adjust the color as needed */
    }
    body.dark-mode #image-container {
        border: 2px solid white;
        background-color: #9F9F9F;
    }

/* Example of overriding specific elements in dark mode */
body.dark-mode .monaco-workbench .activitybar>.content .monaco-action-bar .action-item.checked {
    box-shadow: inset 0 -5px 25px #555 !important;
    background: linear-gradient(to bottom, #333, #333) !important;
}

.fa-microphone, .fa-volume-up {
    font-size: 1.5rem;
}


.fa-microphone.listening {
    color: red;
    /* Change color to red when recording */
}

#voiceSelection {
    text-align: center;
    /* align-items: center;
    justify-content: center;
    display: flex; */
    /* font-size: 1rem; */
    max-width: 140px;
    /* Limit the width of the select element */
    width: fit-content;
    /* Ensure it takes up the available space up to max-width */
    height: 1.5rem;
    background-color: #000000;
    color: white;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 0 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    overflow: hidden;
    /* Prevent text from overflowing */
    text-overflow: ellipsis;
    /* Add ellipsis when text overflows */
    white-space: nowrap;
    /* Prevent text from wrapping to the next line */
}